<!DOCTYPE html> 
<html data-ng-app="mainApp" data-ng-controller="mainCtrl"> 
	<script src="https://code.angularjs.org/1.5.1/angular.min.js"></script> 
	<script> 
		var main = angular.module("mainApp", []); 

		main.controller("mainCtrl", function ($scope, $http) { 
			$scope.UpdateSeasonInfo = function () { 
				$http.get("getSeasonInfo.php").then(function success(response) { 
					$scope.Response = JSON.parse(response.data);
				}, function fail(response) { 
					$scope.Response = response.status; 
				}); 
			}; 
				
		}); 
	</script> 
	<head>	
		<title>MatchTracker Test</title> 
	</head>
 	<body> 
		<p>Welcome humans!</p> 
		<input type="text" data-ng-model="Year" />
		<input type="text" data-ng-model="Auth" /> 	
		<p data-ng-bind="Response"></p>
		<button type="button" data-ng-click="UpdateSeasonInfo()">Click Me!</button> 
	</body> 
</html> 
