<!DOCTYPE html> 
<html data-ng-app="mainApp" data-ng-controller="mainCtrl"> 
	<script src="https://code.angularjs.org/1.5.1/angular.min.js"></script> 
	<script> 
		var main = angular.module("mainApp", []); 

		main.controller("mainCtrl", function ($scope, $http) { 
			$scope.UpdateSeasonInfo = function () { 
				$http.get("getSeasonInfo.php?Year="+$scope.Year).then(function success(response) {  
					if (typeof(response) != "object") { 
						$scope.Response = "Year must be between 2015 and current season."; 
					} 
					else { 					
						$scope.Response = response.data["eventCount"]; 
					};
				}, function fail(response) { 
					//TODO: This should never happen, but code to handle it would be nice. 
				}); 
			}; 
				
		}); 
	</script> 
	<style> 
		body { 
			background-color: #888888; 
		} 
		#MainTitleBar { 
			position: fixed; 
			width: 100%; 
			height: 7%; 
			left: 0; 
			top: 0; 
			background-color: #557755; 
		} 
		#MainTitleBar h1 { 
			text-align: center; 
			font-size: 47px; 
			margin-top: 0;
		} 
	</style> 
	<head>	
		<title>Game Season Information</title> 
	</head>
 	<body> 
		<div id="MainTitleBar"> 
			<h1>Game Season Information</h1> 		
		</div> 
		<div id="EnterYearPage"> 
			<h1>Enter Season:</h1> 
			<input type="text" data-ng-model="Year" /> 
			<button type="button" data-ng-click="UpdateSeasonInfo()">Go!</button> 
		</div> 
		<div id="ResultsPage"> 
			<p data-ng-bind="Response"></p>
		</div> 		
	</body> 
</html> 
